.hidden {
    display: none;
}

#spinner {
    color: blue;
    display: block;
}

#title .display-4 {
    font-size: 2.5rem;
}

#title h3 {
    font-size: 1.25rem;
}

#map {
    margin: 10px;
    text-align: center;
}

.BART-circles {
    opacity: 0.4;
    border: 1px solid black;
    stroke-width: 2px;
}

.BART-circles:hover {
    cursor: pointer;
}

#name {
    padding-bottom: 0px;
    margin-bottom: 6px;
}

#tooltip {
    text-align: left;
    padding: 10px;
    background-color: lightgray;
    border-radius: 2px;
    border: 1px solid black;
    width: auto;
    opacity: 0;
    color: black;
    position: absolute;
}
